
- if !@albums.blank?
  .row{style:"min-width:728px;min-height:90px;max-width:728px;max-height:90px"}
    - @albums['items'].each do |album|
      .col.s12.m6.l2{itemscope: "", itemtype: "http://schema.org/MusicAlbum"}
        - image_src = ''
        - if !album['images'][1].nil?
          - image_src = album['images'][1]['url']
        %a.image_resp_container{href: show_album_tracks_path(slug: @artists_data.first[:artist][:slug], id: album['id']), itemprop:"url", data: { no_turbolink: true }} 
          %img.image_resp_src{src: image_src, itemprop: "image"}
          
    