= render partial: 'shared/metatags',
  locals: { the_title: "Music Festivals by #{params[:wildcard][0,1].upcase}",
  the_description: "Check your favorite music festivals by #{params[:wildcard][0,1].upcase} letter",
  the_keywords: ['music', 'festivals', 'tours'],
  the_image: "",
  the_url: request.original_url }


- items = [{caption: 'Home', link: "/"}, {caption: 'Festivals', link: ''}, {caption: params[:wildcard], link: ""}]
  
.row
  .col.s12.m12.l12
    .card
      .card-content
        
        = render partial: "shared/breadcrumb", locals: {items: items}

        - if !@festivals.blank? 
          %ul.pagination
            - ('A'..'Z').each do |wildcard|
              - if wildcard == params[:wildcard][0,1].upcase
                %li.ten-margin-bot.active
                  %a{:href => get_alphabetic_festivals_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard   
              - else
                %li.ten-margin-bot.waves-effect
                  %a{:href => get_alphabetic_festivals_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard

          = paginate @festivals

          .row      
            %h4
              = "Results for \"#{params[:wildcard]}\"" 
              .chip
                - if !@festivals_count.nil?  
                  = @festivals_count
                - else
                  0

            %span#wildcard{style: "display:none"}
              = params[:wildcard] 

            %span#page{style: "display:none"}
              = @page 

            %span#offset{style: "display:none"}
              = @offset

            - if !@festivals.blank? 
              #festivals
                - @festivals.each do |festival|
                  - #show_festival_path(slug: festival.slug)
            - else
              No results      

