- items = [{caption: 'Home', link: "/"}, 
  {caption: 'New festival', link: ''}]

.row
  .col.s12.m7.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "New Festival"

        = form_for @festival, :as => 'festival_data', :url => create_festival_path, :html => {:multipart => true}, :method => :POST do |f|
          .row.no-margin-bot
            .input-field.col.s12
              = f.label :name, class: "col-lg-2 control-label"
              %br/
              = f.text_field :name, class: "validate"

          .row.no-margin-bot    
            .input-field.col.s12
              = f.label "From", class: "col-lg-2 control-label"
              %br/
              = f.date_field :start_date, class: "datepicker" 

          .row.no-margin-bot    
            .input-field.col.s12
              = f.label "To", class: "col-lg-2 control-label"
              %br/
              = f.date_field :end_date, class: "datepicker"    

          .row
            .input-field.col.s12   
              = f.label :country, class: 'col-lg-2 control-label'
              %br/ 
              %br/
              - countries_array = @countries.map { |country| [country, country] }  
              = select_tag "festival_data[country]", options_for_select(@countries.collect {|p| [ p, p ] }), class: 'browser-default'
          .row
            .input-field.col.s12   
              = f.label :logo, class: 'col-lg-2 control-label'
              %br/ 
              %br/   
              = f.hidden_field(:logo_cache)
              = f.file_field(:logo)
            
          .row
            .input-field.col.s12
              = f.submit "Save" , class: "waves-effect waves-light btn grey darken-4" 

= javascript_include_tag "jquery.easy-autocomplete", :type=> "text/javascript" 

:javascript

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'dd/mm/yyyy'
  });

  $( document ).ready(function() {  
      var options = {
        url: function(phrase) {
           return "/api/search-festivals/" + phrase;
        },
        getValue: "name",
        list: {
            onChooseEvent: function() {
            console.log("Selected " + $("#festival_data_name").val());
            Materialize.toast('Stage already exists', 3000, 'rounded')
          },
          match: {enabled: true}
        }
      };    
      $("#festival_data_name").easyAutocomplete(options);
  });