- meta_image =  @festival.logo.nil? ? "" : @festival.logo

= render partial: 'shared/metatags',
  locals: { the_title: "Festivals - #{@festival.name}",
  the_description: "Set #{@festival.name} artists",
  the_keywords: [@festival.name],
  the_image: meta_image,
  the_url: request.original_url }

- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Festivals', link: ''},
  {caption: @festival.name[0,1].upcase , link: get_alphabetic_festivals_path(wildcard: @festival.name[0,1].upcase)},
  {caption: "#{@festival.name} artists" , link: ""}]


.row
  .col.s12.m7.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h5
          Search Artists

        = form_for @festival, :as => 'festival_data', :url => "", :html => {:multipart => true}, :method => :POST do |f|
          .row.no-margin-bot
            .input-field.col.s12
              = f.label "Artist", class: "col-lg-2 control-label"
              %br/
              = text_field_tag "artist_name", nil, class: "validate" 

          .row
            .input-field.col.s12
              %a#search_btn.btn.waves-effect.waves-light.light-blue.base.five-margin-bot
                Search   

        %ul#items.collection.with-header           


= javascript_include_tag "jquery.easy-autocomplete", :type=> "text/javascript" 

:javascript

  $( document ).ready(function() {  
      var options = {
        url: function(phrase) {
           return "/api/autocomplete_artists/" + phrase;
        },
        getValue: "name",
        requestDelay: 500,
        list: {
            onChooseEvent: function() {
            console.log("Selected " + $("#artist_name").val());
            console.log("data "+ $("#artist_name").getSelectedItemData().name);
            //Materialize.toast('Stage already exists', 3000, 'rounded')
          },
          match: {enabled: true}
        }
      };    
      $("#artist_name").easyAutocomplete(options);
  });

  $( "#search_btn" ).click(function() {
    
    var keyword = $("#artist_name").val();
    var list = $('#items');
    list.empty();

    console.log("searching by " + keyword)

    $.ajax({
      url: "/api/autocomplete_artists/" + keyword,
      dataType: 'json',
      cache: false,
      success: function(data) {
        console.log(data);

        var li = $('<li/>').addClass('collection-header').html("<h5>Results</h5>").appendTo(list);
        data.forEach( function (item)
        {
            var image_src = "/images/default_artist.png";
            //console.log("images " + item.images[2].url);

            if(item.images[2] !== undefined){
              image_src = item.images[2].url;
            }

            var img = "<img class='circle valign' src='" + image_src + "' width='45' height='45'/>";
            var caption ="<span class='valign' style='margin-left:10px'>"+ item.name +"</span>";

            var li = $('<li/>').addClass('collection-item valign-wrapper').html(img + " " + caption).appendTo(list);
        });

      },
      error: function(xhr, status, err) {
        console.error("oooo");
      }
    });

  });