- meta_image =  @festival.logo.nil? ? "" : @festival.logo

= render partial: 'shared/metatags',
  locals: { the_title: "Festivals - #{@festival.name}",
  the_description: "Check #{@festival.name} setlists and artists",
  the_keywords: [@festival.name],
  the_image: meta_image,
  the_url: request.original_url }

- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Festivals', link: ''},
  {caption: @festival.name[0,1].upcase , link: get_alphabetic_festivals_path(wildcard: @festival.name[0,1].upcase)},
  {caption: @festival.name , link: ""}]

.row
  .col.s12.m12.l12
    = render partial: "shared/breadcrumb", locals: {items: items}

.row
  .col.s12.m7.l8
    .card
      .card-content
        %h4
          %span
            = @festival.name.capitalize

    .card
      .card-content
        %span.card-title Artists
        - if !current_user.nil? 
          %a.btn-floating.waves-effect.waves-light.blue-grey.base{href: set_festival_artists_path(slug: @festival.slug), data: { no_turbolink: true }}
            %i.material-icons.light-blue.base> add      



  .col.s12.m5.l4
    .card
      .card-content
        %span.card-title
          Other Festivals
        #festivals
          .progress
            .indeterminate.light-blue
      .card-action
        %a{href: get_alphabetic_festivals_path(wildcard: 'a'), data: { no_turbolink: true }}
          More      

    

    .card
      .card-content
        %span.card-title
          Featured stages
        #stages
          .progress
            .indeterminate.light-blue
            
      .card-action
        %a{href: get_alphabetic_stages_path(wildcard: 'a'), data: { no_turbolink: true }}
          More

%script{:type => "application/ld+json"}
  {
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "#{@festival.name.capitalize}",
  "startDate" : "#{@festival.start_date.strftime('%F')}",
  "endDate": "#{@festival.end_date.strftime('%F')}",
  "url" : "#{request.original_url}",
  "location" : {
  "@type" : "Place",
  "name" : "#{@festival.country}",
  "address": "#{@festival.country}"
  }
  }


= javascript_include_tag "music/festival/featured_festivals", :type=> "text/babel"
= javascript_include_tag "music/geo/featured_stages", :type=> "text/babel" 
