%footer.page-footer.grey.darken-3.nav_footer
  .row
    .col.s12.m12.l6
      Browse artists
      %ul.pagination.listings
        - ('A'..'Z').each do |wildcard|
          %li.ten-margin-bot.waves-effect
            %a{:href => get_alphabetic_artists_path(wildcard: wildcard), data: { no_turbolink: true }}
              = wildcard  

    .col.s12.m12.l6.right-align
      Browse festivals
      %ul.pagination.listings
        - ('A'..'Z').each do |wildcard|
          %li.ten-margin-bot.waves-effect
            %a{:href => get_alphabetic_festivals_path(wildcard: wildcard), data: { no_turbolink: true }}
              = wildcard    

  .footer-copyright.grey.darken-4.bottom_info  
    .container
      .row
        .col.s12.m6.l3
          %strong
            Recent concerts 
          %ul
            %li
              Today
            %li
              This week
            %li
              This month
            %li
              Last 3 months
            %li
              Last 6 months  

        .col.s12.m6.l3
          %strong
            Recent festivals
          %ul
            %li
              Today
            %li
              This week
            %li
              This month
            %li
              Last 3 months
            %li
              Last 6 months  

        .col.s12.m6.l3
          %strong
            About Us
          %ul
            %li
              Team
            %li
              Blog
            %li
              Contact

        .col.s12.m6.l3
          %strong
            Follow Us
          %ul
            %li
              Facebook
            %li
              Instagram
            %li
              Twitter


