.navbar-fixed
  %nav
    .nav-wrapper
      %a.brand-logo.logo_text{:href => "/", data: { no_turbolink: true }}
        Setlister
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %form#top_search
            .input-field
              %input#top_search_text{:required => "", :type => "search"}/
              %label{:for => "search"}
                %i.material-icons search
              %i.material-icons close
        %li
          %a{href: get_alphabetic_artists_path(wildcard: 'a'), data: { no_turbolink: true }} Artists

        %li
          %a{href: get_alphabetic_festivals_path(wildcard: 'a'), data: { no_turbolink: true }} Festivals

        %li
          %a{href: get_alphabetic_stages_path(wildcard: 'a'), data: { no_turbolink: true }} Stages
        
        - if !current_user.blank?
          %li
            %a{:href => "/users/sign_out", data: { no_turbolink: true }} 
              = "Welcome #{session[:omniauth]['info']['name']}, Sign out"
        - else
          %li
            - img_src = '/images/log_in.png'
            %a{:href => "/users/auth/spotify", :alt => "log in", data: { no_turbolink: true }}
              Sign in


      %ul#mobile-demo.side-nav
        %li
          %a{href: get_alphabetic_artists_path(wildcard: 'a'), data: { no_turbolink: true }} Artists

        %li
          %a{href: get_alphabetic_festivals_path(wildcard: 'a'), data: { no_turbolink: true }} Festivals

        %li
          %a{href: get_alphabetic_stages_path(wildcard: 'a'), data: { no_turbolink: true }} Stages
        
        - if !current_user.blank?
          %li
            %a{:href => "/users/sign_out"} Sign out
        - else
          %li
            %a{:href => "/users/auth/spotify"}
              Sign in