%ins{ "class" => "adsbygoogle #{ad_class}", "data-ad-client" => "#{ENV['ads_id']}", "data-ad-format" => "auto", "data-ad-slot" => '"#{ad_slot}"', :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
