- if !session[:omniauth].blank?
  
  .card
    .card-content
      .row.valign-wrapper.no-margin-bot
        .col.l3.m3.s3
          - if !session[:omniauth]['info']['image'].blank?
            %img.circle.responsive-img{:src => session[:omniauth]['info']['image']}/
        .col.l9.m9.s9  
          =  session[:omniauth]['info']['name']

.row.no-margin-bot
  %ul.collapsible{"data-collapsible" => "accordion"}
    %li
      .collapsible-header
        %i.material-icons> dashboard
        %a{href: '/', data: { no_turbolink: true }}
          Home

    %li
      .collapsible-header
        %i.material-icons> stars
        %a{href: get_alphabetic_artists_path(wildcard: 'A'), data: { no_turbolink: true }}
          Artists

    %li
      .collapsible-header
        %i.material-icons> mic
        %a{href: get_alphabetic_festivals_path(wildcard: 'A'), data: { no_turbolink: true }}
          Festivals

    %li
      .collapsible-header
        %i.material-icons> room
        %a{href: get_alphabetic_stages_path(wildcard: 'A'), data: { no_turbolink: true }}
          Stages     
  
     
     



                

      