= render partial: 'shared/metatags',
  locals: { the_title: 'Home',
  the_description: 'Check your favorite artists setlists',
  the_keywords: ['music', 'festivals', 'artists', 'setlists'],
  the_image: '',
  the_url: request.original_url }

- items = [{caption: 'Home', link: "/"},
  {caption: 'Setlists', link: ''}]

.row.hide-on-med-and-down.no-margin-bot
  .col.s12.m12.l12.center-align
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / home-top
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "4812781285", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

- content_for :right_bar do
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / home-left
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "6289514486", :style => "display:inline-block;width:300px;height:250px"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});

.row.hide-on-down.no-margin-bot
  .col.s12.m12.l12
    .card.light-blue
      .card-content.light-blue
        %h4.center-align
          %span{style: "color: #fafafa"}
            Search your favorite artists

          %form
            .input-field
              %input.grey.lighten-5#search{:required => "", :type => "text"}/


.row
  .col.s12.m12.l6
    = render partial: "/home/partials/latest_albums", locals: {releases: @releases}
    = render partial: "/home/partials/recent_setlists",    locals: {setlists:   @setlists_data}
    = render partial: "/home/partials/featured_festivals", locals: {festivals:  @festivals}

  .col.s12.m12.l6
    = render partial: "/home/partials/featured_artists", locals: {artists: @artists_data}
    = render partial: "/home/partials/featured_stages",  locals: {stages:  @stages}


= javascript_include_tag "jquery.easy-autocomplete", :type=> "text/javascript"

:javascript

  $( document ).ready(function() {
      var options = {
        url: function(phrase) {
           return "/api/autocomplete_artists/" + phrase;
        },
        getValue: "name",
        list: {
            onChooseEvent: function() {
            console.log("Selected " + $("#search").val());
            window.location.replace("/music/all-artists/" + $("#search").val());
          },
          match: {enabled: true}
        }
      };
      $("#search").easyAutocomplete(options);

    $("#top_search").submit(function( event ) {
      event.preventDefault();
      console.log("Selected " + $("#top_search_text").val());
      window.location.replace("/music/all-artists/" + $("#top_search_text").val());
    });

  });
