= render partial: 'shared/metatags',
  locals: { the_title: 'Page not found',
  the_description: 'Information not found',
  the_keywords: [],
  the_image: '',
  the_url: '' }

.row
  .col.s12.m12.l6
    .card
      .card-content
        %h3
          Oops! Page not found

    = render partial: "/home/partials/recent_setlists",    locals: {setlists:   @setlists_data}
    = render partial: "/home/partials/featured_festivals", locals: {festivals:  @festivals}

        

  .col.s12.m12.l6
    = render partial: "/home/partials/featured_artists", locals: {artists: @artists_data}
    = render partial: "/home/partials/featured_stages",  locals: {stages:  @stages}
    
   