-#  Link to the "Next" page
-#  available local variables
-#    url:           url to the next page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:   total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
-#     <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

- if current_page.last?
  %li.disabled
    %a{href: url, rel: 'next', remote: remote, data: { no_turbolink: true }}
      %i.material-icons chevron_right
- else
  %li
    %a{href: url, rel: 'next', remote: remote, data: { no_turbolink: true }}
      %i.material-icons chevron_right


