-#  Link to the "Previous" page
-#  available local variables
-#    url:           url to the previous page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:   total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote

- if current_page.first?
  %li.disabled
    %a{href: url, rel: 'prev', remote: remote, data: { no_turbolink: true }}
      %i.material-icons chevron_left
- else
  %li
    %a{href: url, rel: 'prev', remote: remote, data: { no_turbolink: true }}
      %i.material-icons chevron_left
