- meta_image =  @album['images'][0].nil? ? "" : @album['images'][0]['url']

= render partial: 'shared/metatags',
  locals: { the_title: "#{@album['name']}",
  the_description: "Check #{@album['name']} by #{@artist.name} tracks",
  the_keywords: [@album['name'], @artist.name],
  the_image: meta_image,
  the_url: "http://open.spotify.com/album/#{@album['id']}"}

- #meta og: {type: 'music.album', "music:musician": "http://open.spotify.com/artist/#{@artist.spotify_id}"}
= #@artist.spotify_id

- items = [{caption: 'Home', link: "/"},
  {caption: 'Artists', link: ''},
  {caption: @artist.name[0,1] , link: get_alphabetic_artists_path(wildcard: @artist.name[0,1])},
  {caption: @artist.name , link: show_artist_path(slug: @artist.slug)},
  {caption: @album['name'], link: ''}]

- content_for :right_bar do
  .card
    .card-content
      %span.card-title Share this artist
      %p
        %span{style: 'margin-right: 5px'}
          %a.socicon-facebook{href: facebook_button(:static_link => true),  "data-popup" => true, :target => "_blank" }
        %span{style: 'margin-right: 5px'}
          %a.socicon-twitter{href: twitter_button(:static_link => true, :title => @artist.name), :target => "_blank"}
        %span{style: 'margin-right: 5px'}
          %a.socicon-google{href: google_plus_button(:static_link => true), :target => "_blank"}
        %span{style: 'margin-right: 5px'}
          %a.socicon-pinterest{href: pinterest_button(:static_link => true, :description => @artist.name, :media => meta_image), :target => "_blank"}

  .card
    .card-content
      %span.card-title
        = "Another #{@artist.name} albums"
      - if !@albums.blank?
        %ul.collection
          - @albums['items'].each do |album|
            - if album['id'] != @album['id']
              %li.collection-item.valign-wrapper{itemscope: "", itemtype: "http://schema.org/MusicRecording"}
                - img_src = '/images/default_artist.png'
                - if !album['images'][1].nil?
                  - img_src = album['images'][1]['url']

                %a{href: show_album_tracks_path(slug: @artist.slug, id: album['id']), itemprop:"url", data: { no_turbolink: true }}
                  %img{src: img_src, style:"margin-right:10px", width: 30, height: 30, itemprop: "image"}
                %a{href: show_album_tracks_path(slug: @artist.slug, id: album['id']), itemprop:"url", data: { no_turbolink: true }}
                  %span{itemprop: "name"}
                    = album['name']
.row.hide-on-med-and-down
  .col.s12.m12.l12.center-align
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / album-detail-skyscraper
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "5899297280", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});


.row.no-margin-bot
  .col.s12.m12.l12
    = render partial: "shared/breadcrumb", locals: {items: items}

.row
  .col.s12.m7.l8
    .card
      .card-content

        %h4{itemscope: "", itemtype: "http://schema.org/MusicAlbum"}
          %span{itemscope: "", itemtype: "http://schema.org/MusicAlbum"}
            %p{itemprop: "name"}
              = @album['name']
          %span{itemscope: "", itemtype: "http://schema.org/MusicGroup"}
            .chip
              - if !@artist.image_high.blank?
                %img.circle{:alt => "#{@artist.name}", :src => @artist.image_high, itemprop: "image"}/
              %span{itemprop: "name"}
                = @artist.name


    .card
      .card-content
        - if !@album_tracks.blank?
          %ul.collection
            - @album_tracks['items'].each do |track|
              %li.collection-item.valign-wrapper{itemscope: "", itemtype: "http://schema.org/MusicRecording"}
                %i.material-icons> library_music
                %span{style: "margin-right: 5px"}
                  = "#{track['track_number']}. "
                %span{itemprop: "name", style: "margin-right: 10px"}
                  = "#{track['name']} -"
                %span{itemprop: "duration"}
                  = Time.at(track['duration_ms'].to_i/1000).strftime("%M:%S")

  .col.s12.m5.l4
    - if !@album_tracks['items'].blank?
      .card
        .card-content
          %span.card-title Listen tracks
          - top_tracks = @album_tracks['items'].map{|x| x['id']} .join(',')
          .embed-container
            %iframe{:allowtransparency => "true", :frameborder => "0", :src => "http://embed.spotify.com/?uri=spotify:trackset:#{@album['name']}:#{top_tracks}"}

    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / album-detail-left-ad
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "7376030487", :style => "display:inline-block;width:300px;height:250px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
