- items = [{caption: 'Home', link: "/"}, {caption: 'Artists', link: ''}, {caption: params[:wildcard], link: ""}]

- content_for :right_bar do
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / artists-index-left-ad
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "4003761687", :style => "display:inline-block;width:300px;height:250px"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
  
.row.hide-on-med-and-down
  .col.s12.m12.l12.center-align
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / artists-index-top-sky
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "2666629285", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

.row.no-margin-bot
  .col.s12.m12.l12
    = render partial: "shared/breadcrumb", locals: {items: items}

.row
  .col.s12.m12.l12
    .card
      .card-content
        
        - if !@artists['artists'].blank? 
          %ul.pagination
            - ('A'..'Z').each do |wildcard|
              - if wildcard == params[:wildcard][0,1].upcase
                %li.ten-margin-bot.active
                  %a{:href => get_alphabetic_artists_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard   
              - else
                %li.ten-margin-bot.waves-effect
                  %a{:href => get_alphabetic_artists_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard         

        .row      
          %h4
            = "Results for \"#{params[:wildcard]}\"" 
            .chip
              - if !@artists['artists'].blank?  
                = @artists['artists']['total']
              - else
                0

          %span#wildcard{style: "display:none"}
            = params[:wildcard] 

          %span#page{style: "display:none"}
            = @page       

          - if !@artists['artists'].blank?   
            %ul.pagination

              - if @page > 1
                %li
                  %a{:href => "#!"}
                    %i.material-icons chevron_left  
              - else
                %li.disabled
                  %a{:href => "#!"}
                    %i.material-icons chevron_left       


              - if @page > 0
                - p = @page - 1
                - if @page > 4 
                  - it = 4
                - else
                  - it = @page - 1  
                - while it >= 1 && p > 0
                  %li.waves-effect
                    %a{:href => get_alphabetic_artists_path(wildcard: params[:wildcard], page: @page - it), data: { no_turbolink: true }} 
                      = @page - it
                      - it = it - 1
                      - p = p - 1 

              %li.active
                %a{:href => ""} 
                  = @page     
              
              - if !@artists['artists'].blank?
                - if @page < @artists['artists']['total'].to_i/20
                  - ft = 1
                  - p = @page
                  - while ft < 5 && p <=  @artists['artists']['total'].to_i/20
                    %li.waves-effect
                      %a{:href => get_alphabetic_artists_path(wildcard: params[:wildcard], page: @page + ft), data: { no_turbolink: true }} 
                        = @page + ft
                        - ft = ft + 1       
          
              %li
                %a{:href => "#!"}
                  %i.material-icons chevron_right
          
          - if !@artists['artists'].blank? 
            - @artists['artists']['items'].each do |artist|
              .col.s12.m12.l3
                .card{itemscope: "", itemtype: "http://schema.org/MusicGroup"}
                  .card-image
                    - img_src = '/images/default_artist.png'
                    - if !artist['images'][1].blank?
                      - img_src = artist['images'][1]['url']
                    %a.image_resp_container{href: proxy_artist_path(id: artist['id']), itemprop:"url", data: { no_turbolink: true }}  
                      %img.image_resp_src{src: img_src, itemprop: "image"}

                  .card-content{style:'max-height:70px;min-height:70px'}
                    %a{href: proxy_artist_path(id: artist['id']), itemprop:"url", data: { no_turbolink: true }}
                      %span{itemprop: "name"}
                        =  artist['name']
                  .card-action
                    %div{class: "follow-container"}
                      %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://embed.spotify.com/follow/1/?uri=spotify:artist:#{artist['id']}&size=basic&theme=light", :style => "border:none; overflow:hidden;"}

.row.hide-on-med-and-down
  .col.s12.m12.l12.center-align
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / artists-index-bottom-sky
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "5620095680", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
                     
                    