- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Featured Artists' , link: ''}]

.row
  .col.s12.m12.l12
    .card
      .card-content
        .row 
          = render partial: "shared/breadcrumb", locals: {items: items}

          %h4
            Featured Artists 

          %span#page{style: "display:none"}
            = @page

          - if !@featured_artists.blank?   
            %ul.pagination

              - if @page > 1
                %li
                  %a{:href => "#!"}
                    %i.material-icons chevron_left  
              - else
                %li.disabled
                  %a{:href => "#!"}
                    %i.material-icons chevron_left       


              - if @page > 0
                - p = @page - 1
                - if @page > 4 
                  - it = 4
                - else
                  - it = @page - 1  
                - while it >= 1 && p > 0
                  %li.waves-effect
                    %a{:href => get_featured_artists_path(page: @page - it), data: { no_turbolink: true }} 
                      = @page - it
                      - it = it - 1
                      - p = p - 1 

              %li.active
                %a{:href => ""} 
                  = @page     
              
              - if !@featured_artists.blank?
                - if @page <= @all_artists/20
                  - ft = 1
                  - p = @page
                  - while ft < 5 && p <=  @all_artists/20
                    %li.waves-effect
                      %a{:href => get_featured_artists_path(page: @page + ft), data: { no_turbolink: true }} 
                        = @page + ft
                        - p = p + 1
                        - ft = ft + 1       
          
              %li
                %a{:href => "#!"}
                  %i.material-icons chevron_right  

                %span#page{style: "display:none"}
                  = @page 

          #artists 
            .progress
              .indeterminate.light-blue

= javascript_include_tag "music/artist/top_artists", :type=> "text/babel" 