- meta_image =  @artist.image_high.nil? ? "" : @artist.image_high.gsub!('https','http')

= render partial: 'shared/metatags',
  locals: { the_title: "#{@artist.name}",
  the_description: "Check #{@artist.name} music and famous setlists",
  the_keywords: [@artist.name],
  the_image: meta_image,
  the_url: request.original_url }

- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Artists', link: ''},
  {caption: @artist.name[0,1] , link: get_alphabetic_artists_path(wildcard: @artist.name[0,1])},
  {caption: @artist.name , link: ""}]

.row.hide-on-med-and-down
  .col.s12.m12.l12.center-align
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / artist-detail-ad
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "7794832886", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});

- content_for :right_bar do
  .card
    .card-content
      %span.card-title Share this artist
      %p
        %span{style: 'margin-right: 5px'}
          %a.socicon-facebook{href: facebook_button(:static_link => true),  "data-popup" => true, :target => "_blank" }
        %span{style: 'margin-right: 5px'}
          %a.socicon-twitter{href: twitter_button(:static_link => true, :title => @artist.name), :target => "_blank"}
        %span{style: 'margin-right: 5px'}
          %a.socicon-google{href: google_plus_button(:static_link => true), :target => "_blank"}
        %span{style: 'margin-right: 5px'}
          %a.socicon-pinterest{href: pinterest_button(:static_link => true, :description => @artist.name, :media => meta_image), :target => "_blank"}  

  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / artist-detail-left-ad
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8224873375049218", "data-ad-slot" => "7655232084", :style => "display:inline-block;width:300px;height:250px"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});        

.row.no-margin-bot
  .col.s12.m12.l12
    = render partial: "shared/breadcrumb", locals: {items: items}

.row
  .col.s12.m7.l8{itemscope: "", itemtype: "http://schema.org/MusicGroup"}
    .card
      .card-content

        %h4
          %span{itemprop: "name"}  
            = @artist.name
          - if !@social_artist['images'][2].blank?
            .chip
              %img{:alt => "#{@artist.name}", :src => @social_artist['images'][2]['url'], itemprop: "image"}/
              = "#{@social_artist['followers']['total']} followers"
          - elsif !@artist.image_medium.nil?
            .chip
              %img{:alt => "#{@artist.name}", :src => @artist.image_medium, itemprop: "image"}/
              login to follow
              

        %span#id{style: "display:none"}
          = @artist.spotify_id 

        .follow-container
          %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://embed.spotify.com/follow/1/?uri=spotify:artist:#{@artist.spotify_id}&size=basic&theme=light", :style => "border:none; overflow:hidden;"}

    .card
      .card-content
        %span.card-title Setlists
        - if !current_user.nil? 
          %a.btn-floating.waves-effect.waves-light.blue-grey.base{href: new_setlist_path(slug: @artist.slug), data: { no_turbolink: true }}
            %i.material-icons.light-blue.base> add
        - if !@setlists.blank?  
          %ul.collection
            - @setlists.each do |setlist|
              %li.collection-item.valign-wrapper
                %a{href: show_setlist_path(slug: @artist.slug, id: setlist.id), data: { no_turbolink: true }}
                  .chip
                    %i.material-icons> today
                    = setlist.set_date.strftime('%a, %b %d %Y')
                  - if !setlist.stage.nil?  
                    = raw("&nbsp;#{setlist.name.capitalize} - #{setlist.stage.name}, #{setlist.stage.country}")  
                  - else
                    = raw("&nbsp;#{setlist.name.capitalize}")   
        - else
          %p
            No setlists available              

      .card-action
        %a{href: artist_setlists_path(slug: @artist.slug), data: { no_turbolink: true }}
          More   

    .card
      .card-content
        %span.card-title Albums  
        .row    
          - if !@albums.blank?
            - @albums['items'].each do |album|
              .col.s12.m6.l4{itemscope: "", itemtype: "http://schema.org/MusicAlbum"}
                .card
                  .card-image
                    - image_src = ''
                    - if !album['images'][1].nil?
                      - image_src = album['images'][1]['url']
                    %a.image_resp_container{href: show_album_tracks_path(slug: @artist.slug, id: album['id']), itemprop:"url", data: { no_turbolink: true }} 
                      %img.image_resp_src{src: image_src, itemprop: "image"}
                  .card-content{style:"min-height:100px; max-height:100px"}
                    %a{href: show_album_tracks_path(slug: @artist.slug, id: album['id']), itemprop:"url", data: { no_turbolink: true }}  
                      %span{itemprop: "name"}
                        = album['name']
                  .card-action 
                    %a{href: show_album_tracks_path(slug: @artist.slug, id: album['id']), itemprop:"url", data: { no_turbolink: true }}
                      Tracks
                    

  .col.s12.m4.l4
    .card
      .card-content
        - if !@feat_tracks['tracks'].nil?  
          %span.card-title Top Tracks
          - top_tracks = @feat_tracks['tracks'].map{|x| x["id"]} .join(',') 
          .embed-container
            %iframe{:allowtransparency => "true", :frameborder => "0", :src => "https://embed.spotify.com/?uri=spotify:trackset:#{@artist.slug}:#{top_tracks}"}
        - else
          %span.card-title Top Tracks
          %p
            You must login to view top tracks

    .card
      .card-content
        %span.card-title
          Related artists

        - if !@related_artists.blank?
          %ul.collection
            - @related_artists['artists'].each do |artist|
              %li.collection-item.valign-wrapper{itemscope: "", itemtype: "http://schema.org/MusicGroup"}
                %a{href: proxy_artist_path(id: artist['id']), itemprop:"url", data: { no_turbolink: true }}
                  - img_src = '/images/default_artist.png'
                  - if !artist['images'][2].blank?
                    - img_src = artist['images'][2]['url']
                
                  %img{src: img_src, class: 'circle', style:"margin-right:10px", width: 30, height: 30, itemprop: "image"}
                  
                %a{href: proxy_artist_path(id: artist['id']), itemprop:"url", data: { no_turbolink: true }}
                  %span{itemprop: "name"}
                    = artist['name']

       


 
     
   