
- items = [{caption: 'Home', link: "/"}, {caption: 'Stages', link: ''}, {caption: params[:wildcard], link: ''}]

.row
  .col.s12.m12.l12
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        - if !@stages.blank? 
          %ul.pagination
            - ('A'..'Z').each do |wildcard|
              - if wildcard == params[:wildcard][0,1].upcase
                %li.ten-margin-bot.active
                  %a{:href => get_alphabetic_stages_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard   
              - else
                %li.ten-margin-bot.waves-effect
                  %a{:href => get_alphabetic_stages_path(wildcard: wildcard), data: { no_turbolink: true }}
                    = wildcard   

          = paginate @stages  

          .row      
            %h4
              = "Results for \"#{params[:wildcard]}\"" 
              .chip
                - if !@search_count.nil?  
                  = @search_count
                - else
                  0

            %span#wildcard{style: "display:none"}
              = params[:wildcard] 

            %span#page{style: "display:none"}
              = @page 

            %span#offset{style: "display:none"}
              = @offset

            - if !@stages.blank? 
              #stages
                .progress
                  .indeterminate.light-blue 
            - else
              No results      

= javascript_include_tag "music/geo/alphabetic_stages", :type=> "text/babel"