- items = [{caption: 'Home', link: "/"}, 
  {caption: 'New stage', link: ''}]

.row
  .col.s12.m7.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "New stage" 

        = form_for @stage, :as => 'stage_data', :url => create_stage_path, :html => {:multipart => true}, :method => :POST do |f|
          .row.no-margin-bot
            .input-field.col.s12
              = f.label :name, class: "col-lg-2 control-label"
              %br/
              = f.text_field :name, class: "validate"

          .row
            .input-field.col.s12   
              = f.label :image, class: 'col-lg-2 control-label'
              %br/ 
              %br/   
              = f.hidden_field(:image_cache)
              = f.file_field(:image)    

          .row
            .input-field.col.s12   
              = f.label :country, class: 'col-lg-2 control-label'
              %br/ 
              %br/
              - countries_array = @countries.map { |country| [country, country] }  
              = select_tag :country, options_for_select(@countries.collect {|p| [ p, p ] }), class: 'browser-default'
            
          .row
            .input-field.col.s12
              = f.submit "Save" , class: "waves-effect waves-light btn grey darken-4"  

= javascript_include_tag "jquery.easy-autocomplete", :type=> "text/javascript" 

:javascript
  $( document ).ready(function() {  
      var options = {
        url: function(phrase) {
           return "/api/geo/search-stages/" + phrase;
        },
        getValue: "name",
        list: {
            onChooseEvent: function() {
            console.log("Selected " + $("#stage_data_name").val());
            Materialize.toast('Stage already exists', 3000, 'rounded')
          },
          match: {enabled: true}
        }
      };    
      $("#stage_data_name").easyAutocomplete(options);
  });