- meta_image = ""

= render partial: 'shared/metatags',
  locals: { the_title: "#{@stage.name}",
  the_description: "Check concerts in #{@stage.name}",
  the_keywords: [@stage.name],
  the_image: meta_image,
  the_url: request.original_url }

- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Stages', link: ''},
  {caption: @stage.name[0,1] , link: get_alphabetic_stages_path(wildcard: @stage.name[0,1])},
  {caption: @stage.name , link: ""}]

.row
  .col.s12.m7.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = @stage.name

        %span#slug{style: "display:none"}
          = @stage.slug  

        %span#page{style: "display:none"}
          = @page

        %span#offset{style: "display:none"}
          = @offset

        = paginate @setlists 

        #setlists  
          .progress
            .indeterminate.light-blue

= javascript_include_tag "music/setlist/stage_setlist", :type=> "text/babel"
     