.card
  .card-content
    %span.card-title
      Featured stages

    - if !stages.blank?
      %ul.collection
        - stages.each do |stage|
          %li.collection-item.valign-wrapper{itemprop:"music-venue", itemscope:"", itemtype: "http://schema.org/MusicVenue"}
            - img_src = '/images/default_artist.png'
            - if !stage.image.url.nil?
              - img_src = stage.image.url
                
            %a{href: show_stage_path(slug: stage.slug), itemprop: "url", data: { no_turbolink: true }}
              %img{src: img_src, class: 'circle', style:"margin-right:10px", width: 30, height: 30, alt: "#{stage.name}", itemprop: "image"}
            %a{href: show_stage_path(slug: stage.slug), itemprop: "url", data: { no_turbolink: true }}    
              %span{itemprop: "name"}
                = stage.name
        
  .card-action
    %a{href: get_alphabetic_stages_path(wildcard: 'a'), data: { no_turbolink: true }}
      More 
