.card
  .card-content
    %span.card-title
      Featured artists

    - if !artists.blank?
      %ul.collection
        - artists.each do |artist|
          %li.collection-item.valign-wrapper{itemscope: "", itemtype: "http://schema.org/MusicGroup"}
            %a{href: show_artist_path(slug: artist[:artist][:slug]), itemprop:"url", data: { no_turbolink: true }}
              - img_src = '/images/default_artist.png'
              - if !artist[:artist][:social_data].blank?
                - img_src = artist[:artist][:social_data][:images][2][:url]
              - elsif !artist[:artist][:image_base].blank?
                -  img_src = artist[:artist][:image_base]

              %img{src: img_src, class: 'circle', style:"margin-right:10px", width: 30, height: 30, itemprop: "image"}
              
            %a{href: show_artist_path(slug: artist[:artist][:slug]), itemprop:"url", data: { no_turbolink: true }}
              %span{itemprop: "name"}
                = artist[:artist][:name]
 
  .card-action
    %a{href: get_alphabetic_artists_path(wildcard: 'a'), data: { no_turbolink: true }}
      More
   