.card
  .card-content
    %span.card-title
      Festivals
    
    - if !festivals.blank?
      %ul.collection
        - festivals.each do |festival|
          %li.collection-item.valign-wrapper{itemprop:"event", itemscope:"", itemtype: "http://schema.org/Event"}
            - img_src = '/images/default_artist.png'

            - if !festival.logo.url.nil?
              - img_src = festival.logo.url
          
            .col.s12.m12.l5    
              %a{href: show_festival_path(slug: festival.slug), itemprop: "url", data: { no_turbolink: true }}
                %div{:class => "chip"}
                  %img{src: img_src, class: 'circle', style:"margin-right:10px", width: 30, height: 30, itemprop: "image", alt: "#{festival.name}, #{festival.country}"}
                  %span{itemprop: "startDate"}
                    = raw("#{festival.start_date.strftime('%d/%m/%y')}")
             
            .col.s12.m12.l7   
              %a{href: show_festival_path(slug: festival.slug), itemprop: "url", data: { no_turbolink: true }}    
                %span{itemprop: "name"}
                  = "#{festival.name}"
                %p{itemscope: "", itemprop: "location", itemtype: "http://schema.org/Place"}
                  %span{itemprop: "name"}  
                    = "#{festival.country}"
                  %span{itemprop: "address"}
                    = "..."
        
  .card-action
    %a{href: get_alphabetic_festivals_path(wildcard: 'a'), data: { no_turbolink: true }}
      More 