.card
  .card-content
    %span.card-title
      Latests Releases
    %ul.collection
      - releases["albums"]["items"].each do |release|
        %li.collection-item.valign-wrapper{itemscope: "", itemtype: "http://schema.org/MusicAlbum"}
          %a{href: show_album_tracks_path(slug: release['artists'][0]['id'], id: release['id']), itemprop:"url", data: { no_turbolink: true }}
            - img_src = '/images/default_artist.png'
            - if !release["images"][2].blank?
              - img_src = release["images"][2]["url"]

            %img{src: img_src,  style:"margin-right:10px", width: 50, height: 50, itemprop: "image"}

          %a{href: show_album_tracks_path(slug: release['artists'][0]['id'], id: release['id']), itemprop:"url", data: { no_turbolink: true }}
            %span{itemprop: "name"}
              = release["name"]
