.card
  .card-content
    %span.card-title
      Recent setlists
 
    - if !setlists.blank?
      %ul.collection
        - setlists.each do |setlist|
          %li.collection-item.valign-wrapper
            %a{ href: show_setlist_path(slug:setlist[:artist][:slug], id: setlist[:setlist][:id]) , data: {no_turbolink: 'true'}}
              %div{:class => "chip"}
                %i{:class => "large material-icons"} today
                = "#{setlist[:setlist][:set_date]}"
              %span{itemprop: "name"}
                = raw ("&nbsp;#{setlist[:artist][:name]} - #{setlist[:setlist][:name].capitalize}")

  .card-action
    %a{href: all_setlists_path, data: { no_turbolink: true }}
      More
