@import "materialize/components/color";
$primary-color: color("deep-orange", "base") !default;
$accent-color: color("light-blue", "base") !default;
$dark4_grey: color("grey", "darken-4") !default;

@import 'materialize';

.grey_link
{
  color: #212121  !important;
  text-decoration: none;
}

.logo_text
{
  margin-left: 10px;
  font-family: 'Russo One', sans-serif;
}

.listings {
  color: #ffffff  !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.listings a {
  color: #ffffff  !important;
}

.listings a:hover{
  color: #ffffff  !important;
  text-decoration: underline;
}

.nav_footer {
  color: #BDBDBD  !important;
  font-size: 1.2rem;
}

.listings li {
  padding: 0 1px;
}

.bottom_info
{
   overflow: auto !important;
   height: auto !important;
   font-size: 1.1rem;
}

.bottom_info li
{
  line-height: 25px !important;
}

.icon_grey_4 {
  color: $dark4_grey !important;
}

.no-margin-bot {
  margin-bottom: 0 !important;
}

.ten-margin-bot {
  margin-bottom: 10px !important;
}

.ten-margin-right {
  margin-right: 10px !important;
}

.five-margin-bot {
  margin-bottom: 5px !important;
}

.right_menu_li {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: 380px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
}

.follow-container {
    position: relative;
    //padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: 25px;
}
.follow-container iframe,
.follow-container object,
.follow-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
}

.the-search-box
{
  background-image: url('../images/project-papper.png');
  background-repeat: repeat;
}

.easy-autocomplete-container ul {
   color: #ffffff;
}

.easy-autocomplete-container ul li {
   font-size: 20px;
   align: left;
}

.image_resp_container{
   display: block;
   width: 100%;
   position: relative;
   height: 0;
   padding: 99.25% 0 0 0;
   overflow: hidden;
}

.image_resp_src {
  position: absolute !important;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media only screen and (min-width: 993px){
  .left_ad {
    width: 100%;
  }

  .top_ad {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
  .left_ad {
    width: 100%;
  }

  .top_ad {
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .left_ad {
    width: 100%;
  }

  .top_ad {
    width: 901px;
  }
}
