- items = [{caption: 'Home', link: "/"}, 
  {caption: 'Setlists', link: ""}]

.row
  .col.s12.m8.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          Setlists

        - if !@setlists.blank? 
          .row
            %ul.collection
              - @setlists.each do |setlist|
                %li.collection-item.valign-wrapper
                  %a{href: show_setlist_path(slug: setlist.artist.slug, id:setlist.id), data: { no_turbolink: true }}
                    .chip
                      %i.material-icons> today
                      = setlist.set_date.strftime('%a, %b %d %Y')
                    = raw("&nbsp;&nbsp;#{setlist.artist.name}, #{setlist.name}")   
          
          = paginate @setlists  

  .col.s12.m4.l4
    = render partial: "/home/partials/featured_artists"         
