- items = [{caption: 'Home', link: "/"}, 
  {caption: @artist.name, link: show_artist_path(slug: @artist.slug)},
  {caption: "New setlist" , link: ""}]

.row
  .col.s12.m7.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "New setlist for #{@artist.name}" 

        = form_for @setlist, :as => 'setlist_data', :url => create_setlist_path(slug: @artist.slug), :html => {:multipart => true}, :method => :POST do |f|
          .row
            .input-field.col.s12
              = f.label :name, class: "col-lg-2 control-label"
              %br/
              = f.text_field :name, class: "validate"
            .input-field.col.s12
              = f.label :set_date, class: "col-lg-2 control-label"
              %br/
              = f.date_field :set_date, class: "datepicker"

          .row
            .input-field.col.s12
              = f.label "Stage", class: "col-lg-2 control-label"
              %br/
              = f.text_field "stage", class: "validate"  
            
          .row
            .input-field.col.s12
              = f.submit "Next" , class: "waves-effect waves-light btn grey darken-4"

= javascript_include_tag "jquery.easy-autocomplete", :type=> "text/javascript" 

:javascript
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'dd/mm/yyyy'
  });

  $( document ).ready(function() {  
      var options = {
        url: function(phrase) {
           return "/api/geo/search-stages/" + phrase;
        },
        getValue: "name",
        list: {
            onChooseEvent: function() {
            console.log("Selected " + $("#stage_data_name").val());
            //Materialize.toast('Stage already exists', 3000, 'rounded')
          },
          match: {enabled: true}
        }
      };    
      $("#setlist_data_stage").easyAutocomplete(options);
  });