- items = [{caption: 'Home', link: "/"}, 
  {caption: @artist.name, link: show_artist_path(slug: @artist.slug)},
  {caption: "Set setlist" , link: ""}]

.row
  .col.s12.m8.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "#{@artist.name} - set setlist for #{@setlist.name}" 

        %span#id{style: "display:none"}
          = @artist.spotify_id

        #tracks
          .progress
            .indeterminate.light-blue
               
  
  .col.s12.m4.l4
    %ul#current_setlist.collection.with-header

 
:javascript
  function add_to_set(track_id, track_name) {
    console.log('logging');

      var list = $('#current_setlist');
      var act_link = "<a style='cursor: pointer;' onclick=\"remove_from_set('"+track_id+"')\" class='icon_grey_4'><i class='tiny material-icons'>delete</i>"+ track_name +"</a>";
      var li_html = track_name;
      var li = $('<li/>').attr('id', track_id).addClass('collection-item').html(act_link).appendTo(list);
  }

  function remove_from_set(track_id) {
    console.log('removing');



    $('#'+track_id).remove();
  }

  function remove_all(list_id) {
    console.log('clearing');
    location.reload();
  }

  function get_tracks(list_id)
  {
    var jqxhr = $.get( "/music/setlist/get-songs/"+list_id, function(data) {
      console.log( "success" );
      console.log(data['tracks']);
      var list = $('#current_setlist')
      list.empty();
      var btn = '<a class="btn waves-effect waves-light light-blue base five-margin-bot" onclick="remove_all(#{@setlist.id})">clear all</a>';
      var btn_continue = '<a  onclick="send_tracks()" class="btn waves-effect waves-light light-blue base five-margin-bot">continue</a>';
      var li = $('<li/>').addClass('collection-header').html('<h5>Current tracks</h5>' + btn + '<br />' + btn_continue).appendTo(list);

      for (var i = 0, len = data['tracks'].length; i < len; i++) {
        console.log(data['tracks'][i]);
        var act_link = "<a style='cursor: pointer;' onclick=\"remove_from_set('"+data['tracks'][i]['spotify_id']+"', #{@setlist.id})\" class='icon_grey_4'><i class='tiny material-icons'>delete</i>"+ data['tracks'][i]['name'] +"</a>";
        var li_html = data['tracks'][i]['name'] + act_link;
        var li = $('<li/>').attr('id', data['tracks'][i]['spotify_id']).addClass('collection-item').html(act_link).appendTo(list);
      }
    })
    .done(function() {
      console.log( "second success" );
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  }

  function send_tracks() {
      var liIds = $('#current_setlist li').map(function(i,n) {
          return $(n).attr('id');
      }).get();

      console.log("ids " + liIds);

      var setlist_id = "#{@setlist.id})"; 

      var jqxhr = $.post( "/music/setlist/set-songs", {tracks: liIds, list: setlist_id}, function() {
        console.log( "success" );
        window.location.href = "/music/setlists/#{@artist.slug}/#{@setlist.id}";
        //get_tracks("#{@setlist.id}");

      })
        .done(function() {
          console.log( "second success" );
        })
        .fail(function() {
          console.log( "error" );
        })
        .always(function() {
          console.log( "finished" );
      });
  }

  $( document ).ready(function() {
    console.log("the fun!!!");
    get_tracks("#{@setlist.id}");
    
  });

= javascript_include_tag "music/artist/artist_tracks", :type=> "text/babel"

  

