- items = [{caption: 'Home', link: "/"}, 
  {caption: @artist.name, link: show_artist_path(slug: @artist.slug)},
  {caption: 'Setlists', link: artist_setlists_path(slug: @artist.slug)},
  {caption: "#{@setlist.name} #{@setlist.set_date.strftime('%d-%m-%y')}" , link: ""}]

.row
  .col.s12.m8.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "#{@artist.name} - #{@setlist.name} #{@setlist.set_date.strftime('%a, %b %d %Y')}" 

        %span#id{style: "display:none"}
          = @setlist.id 
        %span#slug{style: "display:none"}
          = @artist.slug
        %span#setlist_slug{style: "display:none"}
          = @setlist.slug  


        #setlists        

  .col.s12.m5.l4
    - if !@tracks.blank?  
      .card
        .card-content
          %span.card-title Listen tracks
          - top_tracks = @tracks.map{|x| x[:spotify_id]} .join(',') 
          .embed-container
            %iframe{:allowtransparency => "true", :frameborder => "0", :src => "http://embed.spotify.com/?uri=spotify:trackset:#{@artist.slug}:#{top_tracks}"}

  
  #modal1.modal.modal-fixed-footer
    .modal-content
      %h4 Warning
      %p If you cancel the setlist will be removed
    .modal-footer
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:onclick => "remove_all()"} Agree 
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:onclick => "close_modal()"} Disagree          

:javascript
  function close_modal(){
    console.log("closing");
    $('#modal1').closeModal();
  }

  function remove_all() {
    console.log('clearing');
      var setlist_id = "#{@setlist.id})"; 

      var jqxhr = $.post( "/music/setlist/remove-all-songs", {setlist_id: setlist_id}, function() {
        console.log( "success deleted" );
        window.location.href = "/music/setlists/#{@artist.slug}";
      })
        .done(function() {
          console.log( "second success" );
        })
        .fail(function() {
          console.log( "error" );
        })
        .always(function() {
          console.log( "finished" );
      });
  }
  
= javascript_include_tag "music/setlist/order_setlist", :type=> "text/babel"   
 