- items = [{caption: 'Home', link: "/"}, 
  {caption: @artist.name, link: show_artist_path(slug: @artist.slug)},
  {caption: "Setlists" , link: ""}]

.row
  .col.s12.m8.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "#{@artist.name}'s setlists"
          - if !current_user.nil?
            %a.btn-floating.waves-effect.waves-light.light-blue.base{href: new_setlist_path(slug: @artist.slug), data: { no_turbolink: true }}
              %i.material-icons.light-blue.base> add

        - if !@setlists.blank? 
          .row
            %ul.collection
              - @setlists.each do |setlist|
                %li.collection-item.valign-wrapper
                  %a{href: show_public_setlist_path(slug: setlist.artist.slug, id: setlist.id, setlist_slug: setlist.slug), data: { no_turbolink: true }}
                    .chip
                      %i.material-icons> today
                      = setlist.set_date.strftime('%a, %b %d %Y')
                    = raw("&nbsp;#{setlist.name.capitalize}")    
          
          = paginate @setlists 