- items = [{caption: 'Home', link: "/"}, 
  {caption: @artist.name, link: show_artist_path(slug: @artist.slug)},
  {caption: 'Setlists', link: artist_setlists_path(slug: @artist.slug)},
  {caption: "#{@setlist.name} #{@setlist.set_date.strftime('%d-%m-%y')}" , link: ""}]

.row
  .col.s12.m8.l8
    .card
      .card-content
        = render partial: "shared/breadcrumb", locals: {items: items}

        %h4
          = "#{@artist.name} #{@setlist.name} #{@setlist.set_date.strftime('%a, %b %d %Y')}" 

        %span#id{style: "display:none"}
          = @setlist.id 
        %span#slug{style: "display:none"}
          = @artist.slug 


        #setlists        

  .col.s12.m4.l4
    - if !@tracks.blank?  
      .card
        .card-content
          %span.card-title Listen tracks
          - top_tracks = @tracks.map{|x| x[:spotify_id]} .join(',') 
          .embed-container
            %iframe{:allowtransparency => "true", :frameborder => "0", :src => "http://embed.spotify.com/?uri=spotify:trackset:#{@artist.slug}:#{top_tracks}"}

= javascript_include_tag "music/setlist/public_setlist", :type=> "text/babel"