!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Russo+One", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = metamagic site: "Setlister", title: [:title, :site], separator: " - ", keywords: [:keywords]
  %body
    = yield
    