!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Russo+One", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = metamagic site: "Setlister", title: [:title, :site], separator: " - ", keywords: [:keywords]
  %body.grey.lighten-3
    = render "shared/header"

    .row
      .col.s12.m3.l3
        = render "shared/right_bar"
        = yield :right_bar

      .col.s12.m9.l9
        = yield

    = render "shared/footer"

%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}

:javascript
  $( document ).ready(function() {
    $(".button-collapse").sideNav();

    $("#top_search").submit(function( event ) {
      event.preventDefault();
      console.log("Selected " + $("#top_search_text").val());
      window.location.replace("/music/all-artists/" + $("#top_search_text").val());
    });

  });

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73080600-1', 'auto');
  ga('send', 'pageview');
